/* PÁGINA - INICIAL */

body {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a8d4ffb9;
    text-align: center;
}

footer {
    background-color: #2e1437;
    font-family: myriad pro;
    text-align: center;
    color: white;
    font-weight: lighter; 
    margin-top: 144px;
    
}

footer a {
    color: white;
    text-decoration: none;
}

#a {
    background-color: white;
}

#a {
    text-align: center;
    padding: 5px;
}

#categorias {
    padding: 20px;
}

#barra {
    padding: 30px;
}

#perfil {
    padding: 0px 10px 30px 0px;
}

#favshop {
    padding: 0px 0px 30px 0px;
}

#contato {
    padding: 0px 0px 0px 10px;
}

#logo {
    padding: 20px 53px;
}

nav {
    margin: 0px 264px;
}

nav a:hover {
    color: grey;
}

header a {
    color: black;
    text-decoration: none;
    font-family: 'myriad pro';
    padding: 0px 10px;
    border: 20px;
}

#capa {
        padding: 0px 0px 0px 0px;
        height: 330px;
        width: 100%;
}

#bem-vindo {
    display: flex;
    padding: 20px 20px;
}

#caixa {
    color: black;
    background-color: #A8D4FF;
    font-family: myriad pro;
    text-align:left;
    font-size: 13px;
    width: 292px;
    height: 212px;
    padding: 10px 20px;
    margin: 16px;
    border-radius: 20px;
}

#container {
    display: flex;
}

#caixa-centro {
    display: flex;
}

.botao {
    text-align: left;
    padding: 15px 0px 0px;
    border: 0;
}

#botao {
    background-color: #C7FFFF;
    border: 0;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    font-family: 'myriad pro';
    font-size: 16px;
}

#botao:hover {
    background-color: #c7ffff95;
}

#container {
    max-width: 1000px;
    margin: 0px auto;
}

#produtos {
    display: flex;
    padding: 10px auto;
}

#produtos-texto {
    font-size: 18px;
}

h1 {
    font-family: 'myriad pro';
    font-size: 22px;
}

#caixa-produtos {
    color: black;
    background-color: #a8d4ff95;
    font-family: 'myriad pro';
    text-align:left;
    font-size: 13px;
    width: 325px;
    height: 175px;
    margin: 47px auto;
    border-radius: 20px;
}

#caixa-produtos2 {
    color: black;
    background-color: #A8D4FF95;
    font-family: 'myriad pro';
    text-align:left;
    font-size: 13px;
    width: 325px;
    height: 175px;
    margin: 47px 5px auto;
    border-radius: 20px;
}

#caixa-produtos3 {
    color: black;
    background-color: #A8D4FF95;
    font-family: 'myriad pro';
    text-align:left;
    font-size: 13px;
    width: 325px;
    height: 175px;
    margin: 91px 5px auto;
    border-radius: 20px;
}

#produto1 {
    padding: 7px 0px 0px 20px;
}

#produto2 {
    padding: 7px 0px 0px 20px;
}

#produto3 {
    padding: 7px 0px 0px 20px;
}

#baixar {
    text-align: center;
}

#google-play {
    width: 250px;
    height: 78px;
    padding: 0px 0px 0px 500px
}

#app-store {
    width: 250px;
    height: 78px;
    text-align: center;
}

/* PÁGINA - LOGIN & CADASTRO */

#login-box {
    font-family: 'Myriad Pro';
    width: 500px;
    margin: 0px auto;
    text-align: center;
}

#logo-logcad {
    padding: 20px 580px;
}

#botao-entrar {
    background-color: #A8D4FF;
    border: 0;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-family: 'myriad pro';
    font-size: 16px;
}

#botao-entrar:hover {
    background-color: #c7ffff95;
}

#botoes {
    padding-top: 20px;
}

#b {
    background-color: #a8d4ffb9;
    height: 155px;
}

#loguinho {
    text-align: center;
}

#logoo {
    margin-top: 20px;
}

#loginn {
    background: #DFDFDF;
    border: 0px;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

#seta {
    margin-right: 20px;
}

#botao-voltar {
    background-color: #DFDFDF;
    border: 0;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-family: 'myriad pro';
    font-size: 16px;
}

#botao-voltar:hover {
    background-color: #dfdfdf76;
}

#login {
    margin-left: 10px;
}

#loginn2 {
    background: #DFDFDF;
    border: 0px;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

#loginn3 {
    background: #DFDFDF;
    border: 0px;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    margin-left: 15px;
}

/* PÁGINA - AGENDAMENTO */

#h1a {
    text-align: center;
    margin-top: 40px;
}

#quatro {
    display: flex;
    justify-content: center;
}

#caixa1 {
    background-color: #d1d7dd;
    font-family: myriad pro;
    width: 500px;
    height: 180px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

#trab {
    margin-top: 20px;
    margin-left: 10px;
}

#h1b {
    font-size: 25px;
    margin-left: 30px;
}

#h1c {
    font-size: 25px;
    margin-left: 50px;
}

#h1d {
    font-size: 25px;
    margin-left: 25px;
}

#h1e {
    font-size: 25px;
    margin-left: 50px;
}

#pa {
    font-family: segoe ui;
    font-size: 20px;
}

/* PÁGINA - QUEM SOMOS */

#h1z {
    text-align: center;
    margin-top: 40px;
}

#h2a {
    font-family: 'Myriad Pro';
}

#h9a {
    font-family: 'segoe ui';
}

#vet {
    justify-content: center;
}

#container3 {
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

#vet {
    display: flex;
}

#little {
    margin-left: 25px;
}

/* PÁGINA - CONTATO */

#caixa3 {
    color: black;
    background-color: #A8D4FF;
    font-family: myriad pro;
    font-size: 13px;
    width: 485px;
    height: 375px;
    padding: 10px 20px;
    margin: 16px 20px;
    border-radius: 20px;
}

#dados {
    margin-top: 20px;
}

#mapa {
    display: flex;
    text-align: center;
}

#sesi {
    margin-bottom: 40px;
    border-radius: 20px;
}

#mapa2 {
    padding-top: 20px;
}

#mapaa {
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    padding-top: 80px;
}